*
{
  margin:0;
}
/******************* Style index.html **************/
/** start rules css Header **/
header,nav
{
  border: solid 3px ;
  border-radius: 20px;
  width: 100%;
  height: 100px;
}





/** Ende of rules css herader **/
/************************************************/
/** Satart Rules nav bare **/






/** End of rules nav bare **/



/************ rules of coeur de pages *****/
section
{
  margin-top:5em;
  text-align: center;
  border:3px solid red ;
  border-radius: 20px;
}
section img
{
  margin-top: 1em;
}
